---
import { routes, type Resource } from "@/config";
import { Icon } from "astro-icon/components";
type ActionBtnsProps = {
  id: string;
  resource: Resource;
  className?: string;
  red?: boolean;
};
const { id, resource, className, red } = Astro.props as ActionBtnsProps;
const editRoute = routes.getRoute(resource, id);
const deleteRoute = routes.getDeleteRoute(resource, id);
---

<div class:list={["flex justify-end", className]}>
  <a
    class:list={[
      red
        ? "text-red-900 hover:text-red-500"
        : "text-gray-500 hover:text-indigo-500",
      "mt-1",
    ]}
    href={editRoute}><Icon name="edit" class="md:size-5 size-6" /></a
  >
  <a
    class="text-red-900 hover:text-red-500 ml-4 font-bold md:text-lg text-2xl"
    href={deleteRoute}>✗</a
  >
</div>
