---
import { Icon } from "astro-icon/components";
type ActionBtnsProps = {
  id: string;
  resource: string;
  className?: string;
  red?: boolean;
};
const { id, resource, className, red } = Astro.props as ActionBtnsProps;
---

<div class:list={["flex justify-end", className]}>
  <a
    class:list={[
      red
        ? "text-red-900 hover:text-red-500"
        : "text-gray-500 hover:text-indigo-500",
      "mt-1",
    ]}
    href={`?edit=${resource},${id}`}
    ><Icon name="edit" class="md:size-5 size-6" /></a
  >
  <a
    class="text-red-900 hover:text-red-500 ml-4 font-bold md:text-lg text-2xl"
    href={`?delete=${resource},${id}`}>✗</a
  >
</div>
