---
import MainLayout from "@/layouts/MainLayout.astro";
import DayList from "@/components/list/DayList.astro";
import DeleteModal from "@/components/modal/DeleteModal.svelte";
import FromSection from "@/components/FromSection.astro";
---

<MainLayout title="Food & Weight Tracker">
  <!-- Tracking Form -->
  <FromSection />

  <hr class="border-gray-800 mb-4 mt-6" />

  <!-- Records List -->
  <h2 class="text-xl font-semibold mb-4">History</h2>
  <DayList />
  <DeleteModal client:load />
</MainLayout>
